ul.nav.nav-tabs {
    background: #6a1b9a;
    height: 61px;
    width: flex;
    /* text-decoration-color: azure; */
    flex-wrap: nowrap;
  }
  
  a.nav-link {
    background: #6a1b9a;
    color: lavender;
    font-size: 1.3rem;
    text-decoration: none;
    /* margin: 5px; */
    line-height: 3;
    height: 60px;
    
  }

  .nav-tabs-link.active {
    /* color: lavender;
    background: lavender; */
    font-size: 1.3rem;
    text-decoration: none; 
    margin: 5px;
    line-height: 3;
  }

  #nav-item {
    background: lavender;
  }